.f1sy4kr4 {
  padding: 0 !important;
}

.f1rmphuq {
  padding: 0px 10px 0px 10px !important;
}

.fl0y5dy {
  padding: 0 !important;
}

.f1axvtxu {
  margin: 0 !important;
}
.f1choeao {
  gap: 10px !important;
}

.fkci4zc:hover {
  background-color: rgb(36, 63, 90);
}

.f1u2r49w {
  /* background-color: rgb(233, 236, 239) !important; */
  border-radius: 10px !important;
}

.fn0x3ez:hover {
  background-color: white !important;
}

.fte4pga {
  padding: 6px 6px !important;
}
.f1rz5yjh {
  padding: 4px 4px !important;
}

.fmnzpld {
  margin-top: 8px !important;
}

@media screen and (max-width: 480px) {
  .r1u3t6p6 {
    max-width: 88vw !important;
  }
}
.r1u3t6p6 {
  padding: 14px !important;
}
.f1gv7sq1 {
  border: transparent !important;
}

.f15tpi3i {
  margin-bottom: 0 !important;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #888 transparent;
}

/* Chrome, Safari, Edge */
*::-webkit-scrollbar {
  width: 3px;
  height: 6px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 999px;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #666;
}

.fkhj508 {
  font-size: 12px !important;
}

/* From Uiverse.io by ErzenXz */
.toggle-switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  cursor: pointer;
}

.toggle-switch input[type="checkbox"] {
  display: none;
}

.toggle-switch-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ddd;
  border-radius: 20px;
  box-shadow: inset 0 0 0 2px #ddd;
  transition: background-color 0.3s ease-in-out;
}

.toggle-switch-handle {
  position: absolute;
  top: 1px;
  left: 3px;
  width: 17px;
  height: 17px;
  background-color: #fff;
  border-radius: 50%;
  transition: transform 0.3s ease-in-out;
}

.toggle-switch::before {
  content: "";
  position: absolute;
  top: -25px;
  right: -35px;
  font-size: 12px;
  font-weight: bold;
  color: #aaa;
  text-shadow: 1px 1px #fff;
  transition: color 0.3s ease-in-out;
}

.toggle-switch input[type="checkbox"]:checked + .toggle-switch-handle {
  transform: translateX(45px);
  box-shadow:
    0 2px 5px rgba(0, 0, 0, 0.2),
    0 0 0 3px #0f62fe;
}

.toggle-switch input[type="checkbox"]:checked + .toggle-switch-background {
  background-color: #0f62fe;
  box-shadow: inset 0 0 0 2px #0f62fe;
}

.toggle-switch input[type="checkbox"]:checked + .toggle-switch:before {
  content: "On";
  color: #05c46b;
  right: -15px;
}

.toggle-switch input[type="checkbox"]:checked + .toggle-switch-background .toggle-switch-handle {
  transform: translateX(18px);
}

.f1vx7lu8::after {
  height: 0 !important;
}

.f1s2r9ax::before {
  height: 0 !important;
}
.f18ktai2 {
  padding: 0 6px 6px 6px !important;
}
.fui-Accordion{
  width: 100% !important;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.fui-Spinner__Spinner {
  color: var(--spinner-color) !important;
}

.fui-Spinner__Tail::before {
  background-color: var(--spinner-color) !important;
}

.fui-Spinner__Tail::after {
  background-color: var(--spinner-color) !important;
}